[submodule "post_service/protos"]
	path = post_service/protos
	url = git@github.com:RahimjonovMuhammadUmar/protos.git
[submodule "review_service/protos"]
	path = review_service/protos
	url = git@github.com:RahimjonovMuhammadUmar/protos.git
[submodule "api_gateway/protos"]
	path = api_gateway/protos
	url = git@github.com:RahimjonovMuhammadUmar/protos.git
[submodule "customer_service/protos"]
	path = customer_service/protos
	url = git@github.com:RahimjonovMuhammadUmar/protos.git
